/**
 * Global
 */

body {
    color: #333;
    margin: 10px auto;
    max-width: 600px;
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
}


/**
 * Breadcrumbs
 */

.breadcrumbs {
    display: block;
    font-weight: bold;
    text-align: center;
}

.breadcrumbs a {
    color: #333;
    padding: 5px;
    border-radius: 5px;
    background-color: #EEE;
}


/**
 * Index
 */


.index__title {
    margin: 35px 0 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.index__title,
.index__entries .entry .entry__title,
.index__entries .entry .entry__title > a {
    color: #333;
    display: block;
    text-align: center;
}

.index__entries .entry {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #EEE;
}


.index__entries .entry:hover,
.index__entries .entry:focus,
.index__entries .entry:active {
    background-color: #DDD;
}

.index__entries .entry__title {
    margin: 5px 0;
}


/**
 * Recipie
 */

.recipie .recipie__title {
    display: block;
    text-align: center;
    margin: 35px 0 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.recipie .recipie__title a {
    color: #333;
}

.recipie .recipie__ingredients_list {
    column-count: 2;
    padding-left: 0;
    list-style: none;
}

.recipie .recipie__ingredients_list li {
    padding-bottom: 5px;
}

.recipie .recipie__description {
    font-style: italic;
}
