<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link href="{{relative_root}}static/main.css" rel="stylesheet">
    </head>
    <body>{% block content %}{% endblock content %}</body>
</html>
