<small class="breadcrumbs">{% for breadcrumb in breadcrumbs %}<a href="{{breadcrumb.link}}" tabindex="{{loop.index}}">{{breadcrumb.title}}</a>{% if loop.index < breadcrumbs|length %} &rsaquo; {% endif %}{% endfor %}</small>
