<h2 class="entry__title"><a href="{{entry.link}}">{{entry.title}}</a></h2>
{% if entry.description %}<p class="entry__description">{{entry.description}}</p>{% endif %}
{% if entry.children %}
    {% for entry in entry.children %}
        {% include "index_entry.html" with context %}
    {% endfor %}
{% endif %}
