{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
    <div class="index">
        {% if breadcrumbs %}{% include "breadcrumbs.html" with context %}{% endif %}
        <h1 class="index__title">{{title}}</h1>
        <div class="index__entries">
            {% for entry in entries %}
                <div class="entry" tabindex="{{loop.index}}">
                    {% include "index_entry.html" with context %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
