{% extends "base.html" %}

{% block title %}{{recipie.title}}{% endblock title %}

{% block content %}
    <div class="recipie">
        {% if breadcrumbs %}{% include "breadcrumbs.html" with context %}{% endif %}
        <h1 class="recipie__title"><a href="{{recipie.title}}.html">{{recipie.title}}</a></h1>
        {% if recipie.description %}<p class="recipie__description">{{recipie.description}}</p>{% endif %}

        <div class="recipie__ingredients">
            <h2 class="recipie__subtitle">Ingredients:</h2>
            <ul class="recipie__ingredients_list">
                {% for name, ingredient in recipie.ingredients.items() %}
                    <li>{{ingredient.amount}} {{ingredient.units}} {{name}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipie__steps">
            <h2 class="recipie__subtitle">Steps:</h2>
            <ol>
                {% for step in recipie.steps %}
                    <li>{{step}}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="recipie__servings">
            <h2 class="recipie__subtitle">Serves: {{recipie.servings}}</h2>
        </div>
    </div>
{% endblock content %}
